*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
body{
	background: linear-gradient(90deg, #fff);
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
}
#wrapper{
	width: 1000px;
	margin: 50px auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.image-container a{
	text-decoration: none;
}
.image-container{
	width: 250px;
	height: 200px;
	background-color: #fff;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	float: left;
	margin: 10px;
	border-radius: 10px;
}
.image-container img{
	width: 100%;
	height: 100%;
	position: absolute;
}
.image-container .image-caption{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 107, 150, 0.6);
	text-align: center;
}
.image-caption h1{
	margin-top: 50px;
	color: #fff;
}
.image-caption p{
	color: #fff;
}
.copyright{
	width: 100%;
	margin-top: 30px;
	padding-top: 30px;
	text-align: center;
}
.judul h2{
	text-align: center;
	padding: 40px;
}
.judul h2::after{
	content: "";
	border-bottom: 5px solid blue;
	width: 52px;
	display: block;
	margin: 20px auto;
}
.copyright{
	width: 100%;
	padding: 20px 0;
	text-align: center;
	border-top: 1px solid #666;
	margin-top: 40px;
	padding-top: 40px;
}
.copyright h4{
	color: #000;
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}
.copyright span{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}

/* Responsive */

@media all and (min-width: 0px) and (max-width: 920px) {
	#wrapper{
		width: 540px;
		margin: 50px auto;
	}
}
@media(max-width: 700px){
	.judul h2{
		margin-left: 40%;
		padding: 20px;
	}
	.copyright{
		margin-left: 30%;
	}
}

/* image  hover  */

/* left */
.image-container .action-1{
	left: -260px;
	transition: all 0.5s;
}
.image-container:hover .action-1{
	left: 0;
	transition: all 0.5s;
}

/* top */
.image-container .action-2{
	top: -210px;
	transition: all 0.5s;
}
.image-container:hover .action-2{
	top: 0;
	transition: all 0.5s;
}

/* bottom */
.image-container .action-3{
	bottom: -210px;
	transition: all 0.5s;
}
.image-container:hover .action-3{
	bottom: 0;
	transition: all 0.5s;
}

/* right */
.image-container .action-4{
	right: -260px;
	transition: all 0.5s;
}
.image-container:hover .action-4{
	right: 0;
	transition: all 0.5s;
}

/* top-left */
.image-container .action-5{
	left: -260px;
	top: -210px;
	transition: all 0.5s;
}
.image-container:hover .action-5{
	left: 0;
	top: 0;
	transition: all 0.5s;
}

/* top-right */
.image-container .action-6{
	right: -260px;
	top: -210px;
	transition: all 0.5s;
}
.image-container:hover .action-6{
	right: 0;
	top: 0;
	transition: all 0.5s;
}

/* left */
.image-container .action-7{
	left: -260px;
	transition: all 0.5s;
}
.image-container:hover .action-7{
	left: 0;
	transition: all 0.5s;
}

/* right */
.image-container .action-8{
	right: -260px;
	transition: all 0.5s;
}
.image-container:hover .action-8{
	right: 0;
	transition: all 0.5s;
}

/* top */
.image-container .action-9{
	top: -300px;
	transition: all 0.5s;
}
.image-container:hover .action-9{
	top: 0;
	transition: all 0.5s;
}